<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src= "../static/js/script.js" async></script>
</head>
<body>
<h1>Wlecome {{name}}</h1>
</body>
</html>