<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/admin.css">
    <script src="../static/js/admin.js" async></script>
    <title>Admin view</title>
</head>
<body>
<h1>Welcome Admin!</h1>
<form method="POST">
    <input type="submit"  value="LOG OUT">
</form>
<div id="box-container">
    <div id="box-1"><p>Edit Mentors<a href="adminmentors"><img class="mentormod"  src="../static/jpg/mentor.jpeg"></a></p></div>
    <div id="box-2"><p>Edit Ranks<a href="admincoins"><img class="coins"  src="../static/jpg/bitcoin.jpeg"></a></p></div>
</div>
</body>
</html>