<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>view Mentors</title>
    <link rel="stylesheet" type="text/css" href="../static/css/adminMentors.css">
    <script src="../static/js/adminMentors.js" async></script>

</head>

<body>
<header>
    <div id="home"><a href="admin.html"><h1>Home</h1></a></div>
    <div id="logout"><a href="index.html"><h1>Log out</h1></a></div>
</header>
<section>
    <h1>Mentors</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>

        </tr>
        {% for mentor in mentors %}
        <tr>
            <td>{{ mentor.id }}</td>
            <td>{{ mentor.firstName}}</td>
            <td>{{ mentor.lastName}}</td>
        </tr>
        {% endfor %}


    </table>
    </br>

</section>

<form id="addMentorBox" method="POST">
    <input type="text" id="name" name="name" placeholder="Enter mentor's name" required>
    <input type="text" id="surname" name="surname" placeholder="Enter mentor's surname" required>
    <input type="text" id="email" name="email" placeholder="Enter mentor's email" required>
    <input type="text" id="phonenumber" name="phonenumber" placeholder="Enter mentor's phonenumber" required>
    <input type="submit" id="button" value="Add Mentor" onclick="addMentor()">
</form>
<form id="removeMentorBox" method="POST">
    <input type="text" id="idToRemove" name="id" placeholder="Enter id to fire mentor" required/>
    <input type="submit" id="buttonToRemove" value="Remove Mentor" onclick="removeMentor()">
</form>
</body>
</html>