<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <script src="../static/js/index.js" async></script>
    <title>Home</title>
</head>
<body>

<form method="POST" class="Sign" id = "signIn">
    <label>Your name</label>
    <input class="button" type="text" name="login"/>
    <label>Your Password</label>
    <input class="button" type="password" name="password"/>
    <input class="submitStyle" type="submit" value="Sign in">
</form>


</body>
</html>