<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <script src="../js/index.js" async></script>
    <title>Home</title>
</head>
<body>
<header>
    <nav>
        <ul id="usersList">
            <a href="admin.html"><li class="users"><span>Admin</span></li></a>
            <a href="mentor.html"><li class="users"><span>Mentor</span></li></a>
            <a href="user.html"><li class="users"><span>User</span></li></a>
        </ul>
    </nav>
</header>
<ul id="buttonsList">
    <li class = "buttonPlace"><button class="button"><span>Log in</span></button></li>
    <li class = "buttonPlace"><button class="button"><span>Sign up</span></button></li>
</ul>
<form class="Sign" id = "signUp">
    <label>Your name</label>
    <input class="button" type="text"/>
    <label>Your Password</label>
    <input class="button" type="password"/>
    <label>Confirm Password</label>
    <input class="button" type="password"/>
    <input class="submitStyle" type="submit" value="Sign up">
</form>
<form method="POST" class="Sign" id = "signIn">
    <label>Your name</label>
    <input class="button" type="text" name="login"/>
    <label>Your Password</label>
    <input class="button" type="password" name="password"/>
    <input class="submitStyle" type="submit" value="Sign up">
</form>


</body>
</html>