<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/mentor.css">
    <script src="../static/js/mentor.js" async></script>
    <title>Mentor view</title>
</head>
<body>
<h1>Welcome Mentor!</h1>
<form method="POST">
    <input type="submit"  value="LOG OUT">
</form>
<div id="box-container">
    <div id="box-1"><p>Edit Students<a href="mentorstudents"><img class="student"  src="../static/jpg/student.jpeg"></a></p></div>
    <div id="box-2"><p>Edit Quests<a href="mentorquest"><img class="quest"  src="../static/jpg/quest.jpeg"></a></p></div>
    <div id="box-3"><p>Edit Artifacts<a href="mentorartifacts"><img class="artifact"  src="../static/jpg/artifact.jpeg"></a></p></div>
</div>
</body>
</html>