<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/shop.css">
    <script src="../static/js/shop.js" async></script>
    <title>Title</title>
</head>
<body>
<article id="exp">
    <p>EXP</p>
    <progress min="0" max = 100 value="35"></progress>
</article>
<article id="wallet">
    <p>YOUR COINS: 17</p>
</article>
<a href="user"><article id="exit">
    </article></a>
<article id="productTable">
    <table>
        <tr>
            <td>ID</td>
            <td>NAME</td>
            <td>COST</td>
            <td>AMOUNT</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Paletka</td>
            <td>179,99</td>
            <td>10</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Paletka</td>
            <td>179,99</td>
            <td>10</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Paletka</td>
            <td>179,99</td>
            <td>10</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Paletka</td>
            <td>179,99</td>
            <td>10</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Paletka</td>
            <td>179,99</td>
            <td>10</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Paletka</td>
            <td>179,99</td>
            <td>10</td>
        </tr>
    </table>
    <p class="whiteLetters">BUY</p>
    <div>
        <form>
            <p class="whiteLetters"> PRODUCT ID: <input/></p>
            <p class="whiteLetters">AMOUNT: <input/></p>
            <br/>
            <p><input id="buyButton" type="submit" value="BUY"></p>
        </form>
    </div>
</article>
</body>
</html>