<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/user.css">
    <script src="../static/js/user.js" async></script>
    <title>Hello User!</title>
</head>
<body>
<article id="exp">
    <p>EXP</p>
    <progress min="0" max = 100 value="35"></progress>
</article>
<article id="wallet">
    <p>YOUR COINS: 17</p>
</article>
<a href="shop"><article id="shop">
    </article></a>
<a href="index"><article id="exit">
    </article></a>
<article id = "items">
    <p id="itemListTitle">My items</p>
    <ul>
        <li>Item1</li>
        <li>Itfgfdh</li>
        <li>Item1</li>
        <li>Itemsdffsdfsdfdsfsdsfdfdsdsfsfdsfdsfd1kc</li>
        <li>Itecfm1</li>
        <li>Item1</li>
        <li>Item1</li>
        <li>Item1</li>
    </ul>
</article>
</body>
</html>