<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/user.css">
    <script src="../static/js/user.js" async></script>
    <title>Hello User!</title>
</head>
<body>
<article id="exp">
    <p>EXP</p>
    <progress min="0" max = 100 value="35"></progress>
</article>
<article id="wallet">
    <p>YOUR COINS: {{ wallet.coolCoinsAmount }}</p>
</article>
<a href="shop"><article id="shop">
    </article></a>
<form method="POST">
    <input type="submit"  value="LOG OUT">
</form>
<article id = "items">
    <p id="itemListTitle">My items</p>
    <ul>
        {% for artifact in wallet.artifactList %}
        <li>{{ artifact.artifactName}}: {{ artifact.quantity }}</li>
        {% endfor %}
    </ul>
</article>
</body>
</html>